<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
Xin chào, mình là Ngà (cung sư tử)!
Mình yêu tự do và những gì đơn giản, không gò bó.
Đây là lần đầu tiên mình làm web nên có hơi sơ sài, thực sự rất hứng thú :v
    Chúc mọi người một ngày vui vẻ <3